@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.background {
    background-color: #045CBC ;
    height: 750px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:stretch;
}